/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-image: url('background.jpg'); /* Ensure this is the correct path */
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Keeps the background fixed while scrolling */
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
}

/* Header styles */
header {
    text-align: center;
    padding: 2rem 0;
    z-index: 2; 
    position: relative;
}

header h1 {
    font-size: 3rem;
    color: #fff;
}

/* Center content */
.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    z-index: 2; /* Ensures the buttons are on top of the background */
    position: relative;
}

.center-container a.button {
    display: block;
    font-size: 2rem;
    color: #fff;
    background-color: #46b8b4;
    padding: 1rem 2rem;
    margin: 1rem 0;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.center-container a.button:hover {
    background-color: #4CAF50;
    color: #fff;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 1rem 0;
   background-color: transparent;
    color: black;
    z-index: 2; /* Ensures the footer is above the background */
    position: relative;
}

/* Ensures all content is above the background */
header, .center-container, footer {
    position: relative;
    z-index: 2;
}
