
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-image: url('background.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
}

header {
    text-align: center;
    padding: 2rem 0;
    z-index: 2; 
    position: relative;
}

header h1 {
    font-size: 5rem;
    color: #fff;
}

.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    z-index: 2; 
    position: relative;
}

.center-container a.button {
    display: block;
    font-size: 2rem;
    color: #fff;
    background-color: #46b8b4;
    padding: 1rem 2rem;
    margin: 1rem 0;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.center-container a.button:hover {
    background-color: #4CAF50;
    color: #fff;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: transparent;
    color: white;
    z-index: 2; 
    position: relative;
}

header, .center-container, footer {
    position: relative;
    z-index: 2;
}
